--- 
services: 
  web: 
    build: 
      context: .  
      dockerfile: Dockerfile.dev  
    expose: 
      - 5000 
    command: "gunicorn -b 0.0.0.0:5000 run:app"
    environment: 
      - "SQLALCHEMY_DATABASE_URI=sqlite:///site.db"
      - SECRET_KEY=e1c7c3c452a1bf623c52aec0a038c55630
      - USER_EMAIL=graystum.dev@gmail.com
      - USER_PASSWORD=1998WarriCrowner
    restart: always 
    volumes: 
      - ./blog2:/blog 
  nginx: 
    build: ./nginx/ 
    ports: 
      - 80:80 
    depends_on: 
      - web 
version: "3"
